@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&family=Sora:wght@100..800&display=swap');

body {
    background-color: black;
    color: #ffffff;
    margin: 0;
    padding: 0;
    background-image: url(images/kuş.jpg);
    height: 100vh;
    background-size: 100% 100%;
    font-weight: bold;
    font-family: "Sora", sans-serif;
    user-select: none;
}

header {
    width: 100%;
    height: 100px;
    border-bottom: white solid 1px;
}

.burdayım a {
    color: skyblue;
    border: 1px solid skyblue;
    border-radius: 10px;
    padding: 10px;
}

nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 50px;
}

.headerLeft {
    display: flex;
    align-items: center;
    gap: 20px;
}

.headerLeft a {
    text-decoration: none;
    color: black;
}

.headerLeft img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.logoihsan {
    transition: 1s;
    border-radius: 100%;
}

.logoihsan:hover {
    transform: rotate(360deg);
}

.adihsan {
    transition: 1s;
}

.adihsan:hover {
    transform: scale(1.1);

}

.headerRight {
    display: flex;
    gap: 100px;
}

.headerRight li {
    font-size: 20px;
    transition: .5s;
}

.headerRight li:hover {
    transform: scale(1.4);

}

header nav ul {
    list-style: none;
}

header nav ul li a {
    color: black;
    text-decoration: none;
}

section ul {
    margin-left: 70px;
}

section ul li {
    list-style: none;
    display: flex;
    margin-top: 10px;
    gap: 10px;
}

section ul li h1 {
    font-size: 20px;

}


section ul li p {
    font-size: 13px;
    font-weight: normal;
}

.foto img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.caca1 {
    margin-left: 50px;
}

.caca2 {
    margin-left: 100px;
}

.caca3 {
    margin-left: 150px;
}

.caca4 {
    margin-left: 200px;
}

.caca5 {
    margin-left: 250px;
}

.caca6 {
    margin-left: 310px;
}

.caca7 {
    margin-left: 370px;
}